body {
		background-color: black;
		font-family: 'Inconsolata', monospace;
}

h1, h4 {
		color: white;
		transition: text-shadow 0.5s;
}

h1:active {
    text-shadow: 2px 2px 4px white;
}

h4:active {
  	text-shadow: 2px 2px 4px white;
}

img {
		position: fixed;
		opacity: 0.2;
		transition: opacity 5s;
}

audio {
		opacity: 0;
}

img:hover {
		opacity: 0.4;
}
